*.bin
*.clippings
*.dmg
*.egg-info/**
*.elc
*.exe
*.html
*.iso
*.o
*.out
*.pyc
*.zip
*password*
*secret*
*~
.#*
.DS_Store
OLD/**
\#*\#
build/**
dist/**
lib/jhg_python_stariter.egg-info/**
passwds
ve-test-pip-install/**
ve/**
